.navbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}

.nav-link {
    padding: 0.5em 1.33em;
    background: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--text);
    transition:
        background 0.2s ease-in-out,
        border 0.2s ease-in-out;

    &:hover {
        background: var(--bg-light);
        border: var(--border-accent);
        cursor: pointer;
    }
}
