.register-panel {
    box-sizing: border-box;
    margin: auto;
    padding: 0 32px;
    width: 400px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.register-head {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
}

.register-title {
    margin: 0;
}

.register-error-message {
    margin: 0;
    color: var(--danger);
    font-size: 15px;
}

.register-button {
    margin-top: 12px;
}
